.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;

  .logoArea {
    font-size: 30px;
    font-weight: bolder;
    margin-right: 60px;
  }

  .linkArea {
    a {
      padding: 0 20px;
      text-decoration: none;
      font-size: 18px;
      color: #515767;
      &.active {
        color: #1e80ff;
      }
    }

  }

  .operationArea {
    margin-left: 150px;
    button {
      margin-right: 20px;
    }
  }
}